<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% extends 'base.html' %}
    
        
        {% block content %}
            <div class="etc"></div>
                <h1>{{blogs.title}}</h1>
                <p>{{blogs.pub_date}}</p>
                <p>{{blogs.body}}</p>
            </div> 
         {% endblock %}
</body>
</html>
